<html lang="en">

    <head>
        <link rel="shortcut icon" type="image/png" href="/img/title/icon-shop.png" />
        <title>Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="/css/style_login.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
        <link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
        <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />

    </head>
    <body>

        <div class="background-wrapper">

            <div class="auth-wrapper">
                <form method="post" class="auth-form">
                    <h3>Change Password</h3>

                    {{#if error}}
                        <p class="auth-error">{{error}}</p>
                    {{/if}}

                    <div class="form-group">
                        <input name="id" type="hidden" value={{user.user_Id}} />
                    </div>

                    <div class="my-3 form-group">
                        <input
                            name="oldPassword"
                            type="password"
                            class="form-control"
                            placeholder="Current password"
                            required
                        />
                    </div>

                    <div class="my-3 form-group">
                        <input
                            name="newPassword"
                            type="password"
                            class="form-control"
                            placeholder="New password"
                            required
                        />
                    </div>

                    <div class="mb-3 form-group">
                        <input
                            name="confirm_password"
                            type="password"
                            class="form-control"
                            placeholder="Confirm new password"
                            required
                        />
                    </div>

                    <div class="d-grid center mt-4 mb-3 form-group">
                        <button type="submit" class="btn btn-success w-50 rounded submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>