<div class="background-wrapper">
    <div class="auth-wrapper">

        <form method="post" action="/auth/forgotpassword" class="auth-form">
            <h3>Forgot password</h3>

            {{#if message}}
            <div class="auth-success">
                {{message}}
            </div>
            {{/if}}

            {{#if error}}
            <div class="auth-error">
                {{error}}
            </div>
            {{/if}}

            <div class="my-3 form-group">
                <input name="email" type="email" class="form-control" placeholder="Enter your email" required />
            </div>

            <div class="d-grid center mb-3 form-group">
                <button type="submit" class="btn btn-success w-75 rounded submit">Submit</button>
            </div>

            <div class="form-group mt-4">
                <div class="w-100 text-center">
                    <p class="mt-5">
                        New to Ogani?
                        <a href="/auth/register" class="ms-1">
                            Sign Up
                        </a>
                        <br>
                        <a href="/auth/register" class="ms-1">
                            Log in
                        </a>
                </div>
            </div>

        </form>
    </div>
</div>